/*Archiv Bold for title:*/
/*— #181818 for blog title*/
/*— #4b4b4b for post titles*/
/*— #c3d1c5 for sidebar*/
/* article: #7b7b7b*/
/*Pier for body font.*/

@font-face {
    font-family: Arkiv;
    src: url('../fonts/Arkiv-Bold.otf');
}

@font-face {
    font-family: Pier;
    src: url('../fonts/pier.otf');
}

@font-face {
    font-family: Pier;
    src: url('../fonts/pier-bold.otf');
    font-weight: bold;
}

body {
    font-size: 15px;
    line-height: 1.69;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

#page-wrapper {
    font-family: Pier, Arial, sans-serif;
}

header#logo {
    margin: 150px auto 200px;
    font-family: Arkiv, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    color: #181818;
}

.container { 
    padding: 2em;
}

section#content-wrapper {
    margin-bottom: 70px;
}

div.post-item-home {
    text-align: center;
    margin-top: 150px;
    padding: 0 2em;
}

div.post-item-home figure {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

div.post-item-home figure.img-even {
    height: 300px;
}

div.post-item-home figure.img-odd {
    height: 400px;
}

div.post-item-home h2 {
    font-size: 20px;
    margin: 1.5em .5em .5em .5em;
}    

div.post-item-home h2 a {
    font-family: Arkiv, Helvetica, sans-serif;
    color: #181818;
    text-transform: uppercase;
}

div.post-item-home h2 a:hover {
    text-decoration: none;
}

div.post-item-home-date {
    font-size: 13px;
    margin-bottom: 2.5em;
    color: #7b7b7b;
}

div.post-item-home p {
    color: #7b7b7b;
    line-height:30px;
}

div#sidebar {
    margin-top: 150px;
    text-align: center;
    padding: 0 1.5em 0 4.5em;
    line-height: 1.55;
}

div#sidebar input {
    text-align: center;
    line-height: 40px;
}

div#sidebar h3 {
    font-size: 25px;
    font-weight: bold;
    color: #c3d1c5;
    text-transform: uppercase;
    margin: 0 0 1em 0;
}

div#sidebar ul {
    list-style-type: none;
    margin: 40px 0;
    padding: 0;
}

div#sidebar ul li {
    color: #c3d1c5;
    text-transform: uppercase;
}

div#sidebar ul li a {
    color: #c3d1c5;
    font-size: 20px;
    font-weight: bold;

}

div#sidebar ul li a:hover {
    text-decoration: none;
}

.form-control { 
    display: block;
    width: 100%;
    height: 43px;
    font-size: 14px;
    border-radius: 1px;
    border: 1px solid #aaa;
}

/* PAGE */

.post-item-home.page p {
    margin: 20px 15%;
    line-height:30px;
}

.post-item-home.page h2 {
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.post-item-home.page .wp-caption {
    margin: 30px 0;
}

.post-item-home.page .wp-caption-text {
    margin: 5px 0;
    color: #7b7b7b;
    font-size:12px;
}

