/*Archiv Bold for title:*/
/*— #181818 for blog title*/
/*— #4b4b4b for post titles*/
/*— #c3d1c5 for sidebar*/
/* article: #7b7b7b*/
/*Pier for body font.*/

@font-face {
    font-family: Arkiv;
    src: url('../fonts/Arkiv-Bold.otf');
}

@font-face {
    font-family: Pier;
    src: url('../fonts/pier.otf');
}

body {
    background-color: #fff;
}

#page-wrapper {
    font-family: Pier, Arial, sans-serif;
}

header#logo {
    margin: 150px auto 200px;
    font-family: Arkiv, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    line-height: 80px;
    color: #181818;
}

section#content-wrapper {
    margin-bottom: 70px;
}

div.post-item-home {
    text-align: center;
    margin-top: 70px;
    padding: 0 10px;
}

div.post-item-home figure {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

div.post-item-home figure.img-even {
    height: 300px;
}

div.post-item-home figure.img-odd {
    height: 400px;
}

div.post-item-home h2 a {
    font-family: Arkiv, Helvetica, sans-serif;
    color: #181818;
    font-size: 20px;
    margin: 30px auto 20px;
    text-transform: uppercase;
}

div.post-item-home h2 a:hover {
    text-decoration: none;
}

div.post-item-home-date {
    font-size: 12px;
    margin-bottom: 20px;
}

div.post-item-home p {
    color: #7b7b7b;
}

div#sidebar {
    margin-top: 70px;
    text-align: center;
    padding: 0 40px;
}

div#sidebar input {
    text-align: center;
}

div#sidebar h3 {
    color: #c3d1c5;
    text-transform: uppercase;
}

div#sidebar ul {
    list-style-type: none;
    margin: 40px 0;
    padding: 0;
}

div#sidebar ul li {
    color: #c3d1c5;
    text-transform: uppercase;
}

div#sidebar ul li a {
    color: #c3d1c5;
    font-size: 20px;
}

div#sidebar ul li a:hover {
    text-decoration: none;
}

